<% if logged_in? %>
  <h3>Welcome, <%= current_user.username %></h3>
  <h3>My Pets</h3>
  <% current_user.pets.each do |pet| %>
    <a href="/pets/<%= pet.id %>"><%= pet.name %></a><br><br>
  <% end %>
<% else %>
  <h4><a href="/login">| Log In |</a></h4>
<% end %>
