<h2>PetCheck</h2>

<form action="/signup" method="post">
	<input id="email" type="password" name="email" placeholder="Email"><br>
	<input id="username" type="text" name="username" placeholder="Username"><br>
	<input id="password" type="password" name="password" placeholder="Password"><br>
	<input type="submit" value="Sign Up">
</form>
